.testimonials {
    padding:50px ;
}

.testimonials h2 { 
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.testimonials h2,
.testimonials h4{
    font-family: 'Fraunces', serif;
}
.testimonials img{

    border-radius: 50%;
    margin-bottom: 60px;
    width: 100px;
}

.testimonials p{
  color:hsl(213, 9%, 39%);
  margin-bottom: 60px;
}
.testimonials h4 {
    margin-bottom: 30px;
}
.testimonials .jop,.testimonials h2 {
    color: hsl(210, 4%, 67%);
}

@media (max-width:767px) {
    .testimonials .col-md-4:not(:nth-child(3)) {
        margin-bottom: 40px;
        border-bottom: .5px solid hsl(210, 4%, 67%);
    }
}